@{
    ViewBag.Title = "Home Page";
}

<h1></h1>
<img src="../Images/HomePagePicture.jpg" height="799" width="1080" alt scale ="0"/>
<br>
<a href="~/HTML PAGES/Бърза,лесна и вкусна закуска.html">Бърза, лесна и много вкусна закуска</a>
<br>
<a href="~/HTML PAGES/Бананово браунис.html">Бананово браунис</a>