@model IEnumerable<Blog.Models.Posts.HomeIndexPostModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">HealthyFoods</h1>
    <p class="lead text-center">Your place for finding and sharing healthy meals.</p>
    <p class="text-center">
        <a href="~/Models/Posts/HomeIndexPostModel.cs" class="btn btn-primary btn-lg">Add Tours</a>
    </p>
</div>